@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?ynkag5');
  src:  url('../fonts/icons.eot?ynkag5#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?ynkag5') format('truetype'),
    url('../fonts/icons.woff?ynkag5') format('woff'),
    url('../fonts/icons.svg?ynkag5#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e903";
}
.icon-cash:before {
  content: "\e900";
}
.icon-gear:before {
  content: "\e901";
}
.icon-humi:before {
  content: "\e902";
}
